{% extends 'base.html' %}
{% block content %}<style>
body{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 25px;
}
</style>
<h1>I'm sorry we couldn't find that</h1>
<img src="https://ih0.redbubble.net/image.521446721.7085/flat,800x800,075,f.u3.jpg" height="500px"alt="sad boy">
<button style="text-align:center; height:50px; border-radius: 10%;box-shadow:5px 5px 10px 5px #a30559;width: 100px;"><a href="/" style="color: black; font-size: 15px;">Go Home</a></button>
{% endblock %}